{% load static %}
<div class="custom-container">
        <div class="custom-row">
            <div class="custom-col">
                <div class="custom-card">
                    <a href="/alquiler" class="custom-link">
                        <div class="icon-container">
                            <img src="{% static 'img/icons/alquiler.svg' %}" alt="Alquiler Icon" class="icon-svg">
                        </div>
                        <h5 class="btn-title">Alquiler</h5>
                    </a>
                </div>
            </div>
            <div class="custom-col">
                <div class="custom-card">
                    <a href="/compra" class="custom-link">
                        <div class="icon-container">
                            <img src="{% static 'img/icons/compra.svg' %}" alt="Compra Icon" class="icon-svg">
                        </div>
                        <h5 class="btn-title">Compra</h5>
                    </a>
                </div>
            </div>
            <div class="custom-col">
                <div class="custom-card">
                    <a href="/productos" class="custom-link">
                        <div class="icon-container">
                            <img src="{% static 'img/icons/conta.svg' %}" alt="Producto Icon" class="icon-svg">
                        </div>
                        <h5 class="btn-title">Productos</h5>
                    </a>
                </div>
            </div>
            <div class="custom-col">
                <div class="custom-card">
                    <a href="/conversaciones" class="custom-link">
                        <div class="icon-container">
                            <img src="{% static 'img/icons/conversaciones.svg' %}" alt="Conversaciones Icon" class="icon-svg">
                        </div>
                        <h5 class="btn-title">Conversaciones</h5>
                    </a>
                </div>
            </div>
            <div class="custom-col">
                <div class="custom-card">
                    <a href="/ventas" class="custom-link">
                        <div class="icon-container">
                            <img src="{% static 'img/icons/crm.svg' %}" alt="Ventas Icon" class="icon-svg">
                        </div>
                        <h5 class="btn-title">Ventas</h5>
                    </a>
                </div>
            </div>
            <div class="custom-col">
                <div class="custom-card">
                    <a href="/finanzas" class="custom-link">
                        <div class="icon-container">
                            <img src="{% static 'img/icons/documentos.svg' %}" alt="Finanzas Icon" class="icon-svg">
                        </div>
                        <h5 class="btn-title">Finanzas</h5>
                    </a>
                </div>
            </div>
            <div class="custom-col">
                <div class="custom-card">
                    <a href="/fabricacion" class="custom-link">
                        <div class="icon-container">
                            <img src="{% static 'img/icons/fabricacion.svg' %}" alt="Fabricación Icon" class="icon-svg">
                        </div>
                        <h5 class="btn-title">Fabricación</h5>
                    </a>
                </div>
            </div>
            <div class="custom-col">
                <div class="custom-card">
                    <a href="/firma" class="custom-link">
                        <div class="icon-container">
                            <img src="{% static 'img/icons/firma.svg' %}" alt="Firma Icon" class="icon-svg">
                        </div>
                        <h5 class="btn-title">Firma</h5>
                    </a>
                </div>
            </div>
            <div class="custom-col">
                <div class="custom-card">
                    <a href="/hojahoras" class="custom-link">
                        <div class="icon-container">
                            <img src="{% static 'img/icons/hojahoras.svg' %}" alt="Hoja de Horas Icon" class="icon-svg">
                        </div>
                        <h5 class="btn-title">Hoja de Horas</h5>
                    </a>
                </div>
            </div>
            <div class="custom-col">
                <div class="custom-card">
                    <a href="/inventario" class="custom-link">
                        <div class="icon-container">
                            <img src="{% static 'img/icons/inventario.svg' %}" alt="Inventario Icon" class="icon-svg">
                        </div>
                        <h5 class="btn-title">Inventario</h5>
                    </a>
                </div>
            </div>
            <div class="custom-col">
                <div class="custom-card">
                    <a href="/marketingcorreo" class="custom-link">
                        <div class="icon-container">
                            <img src="{% static 'img/icons/marketingcorreo.svg' %}" alt="Marketing Correo Icon" class="icon-svg">
                        </div>
                        <h5 class="btn-title">Marketing Correo</h5>
                    </a>
                </div>
            </div>
            <div class="custom-col">
                <div class="custom-card">
                    <a href="/viaticos/lista/" class="custom-link">
                        <div class="icon-container">
                            <img src="{% static 'img/icons/marketingsocial.svg' %}" alt="Marketing Social Icon" class="icon-svg">
                        </div>
                        <h5 class="btn-title">Viaticos</h5>
                    </a>
                </div>
            </div>
            <div class="custom-col">
                <div class="custom-card">
                    <a href="/proyecto" class="custom-link">
                        <div class="icon-container">
                            <img src="{% static 'img/icons/proyecto.svg' %}" alt="Proyecto Icon" class="icon-svg">
                        </div>
                        <h5 class="btn-title">Proyecto</h5>
                    </a>
                </div>
            </div>
            <div class="custom-col">
                <div class="custom-card">
                    <a href="/puntoventa" class="custom-link">
                        <div class="icon-container">
                            <img src="{% static 'img/icons/puntoventa.svg' %}" alt="Punto de Venta Icon" class="icon-svg">
                        </div>
                        <h5 class="btn-title">Punto de Venta</h5>
                    </a>
                </div>
            </div>
            <div class="custom-col">
                <div class="custom-card">
                    <a href="/rrhh" class="custom-link">
                        <div class="icon-container">
                            <img src="{% static 'img/icons/rrhh.svg' %}" alt="RRHH Icon" class="icon-svg">
                        </div>
                        <h5 class="btn-title">RRHH</h5>
                    </a>
                </div>
            </div>
            <div class="custom-col">
                <div class="custom-card">
                    <a href="/servicioexterno" class="custom-link">
                        <div class="icon-container">
                            <img src="{% static 'img/icons/servicioexterno.svg' %}" alt="Servicio Externo Icon" class="icon-svg">
                        </div>
                        <h5 class="btn-title">Servicio Externo</h5>
                    </a>
                </div>
            </div>
            <div class="custom-col">
                <div class="custom-card">
                    <a href="/sitioweb" class="custom-link">
                        <div class="icon-container">
                            <img src="{% static 'img/icons/sitioweb.svg' %}" alt="Sitio Web Icon" class="icon-svg">
                        </div>
                        <h5 class="btn-title">Sitio Web</h5>
                    </a>
                </div>
            </div>
            <div class="custom-col">
                <div class="custom-card">
                    <a href="/ventas" class="custom-link">
                        <div class="icon-container">
                            <img src="{% static 'img/icons/ventas.svg' %}" alt="Ventas Icon" class="icon-svg">
                        </div>
                        <h5 class="btn-title">Ventas</h5>
                    </a>
                </div>
            </div>

        </div>
    </div>
